// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.jumbotron {
    background-image: url("/img/bg.png");
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 100%;
}

@media (min-width: 480px) {
    .jumbotron { height: 200px; }
}

@media (min-width: 768px) {
    .jumbotron { height: 303px; }
}

@media (min-width: 992px) {
    .jumbotron { height: 327px; }
}

.-mt{
    margin-top: -90px;
}
.lable-menu{
    color: #4C1D95;
    fill: #4C1D95;
}
.lable-menu:hover{
    color: #6D28D9;
    fill: #6D28D9;
}
.form-login {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-login:hover {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #6D31FF;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #6D31FF;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-login:focus {
    outline: none !important;
    border:1px solid #6D31FF;
    box-shadow: 0 0 1px #6D31FF;
}
.text-indigo-600{
    color: #6D31FF;
}
.btn-link:hover{
    color: #6D31FF;
    text-decoration: none;
}
.bg-indigo-600{
    background-color: #6D31FF;
    color: #4C1C94;
}
.bg-indigo-600:hover{
    background-color: #4606E2;
    color: #6D31FF;
}